<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <!-- Interval for updating prepared UI data(in millisec.)  -->
    <add key="dataUpdateInterval" value="300"/>

    <!-- Interval for updating device data(in millisec.)  -->
    <add key="deviceStateUpdateInterval" value="300"/>

    <add key="aspnet:MaxHttpCollectionKeys" value="2000" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ITimecodeService"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:00:18"
                 transactionFlow="false"
                 transferMode="Buffered"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard"
                 listenBacklog="10"
                 maxBufferPoolSize="524288"
                 maxBufferSize="2147483647"
                 maxConnections="10"
                 maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IListService"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:00:18"
                 transactionFlow="false"
                 transferMode="Buffered"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard"
                 listenBacklog="10"
                 maxBufferPoolSize="524288"
                 maxBufferSize="2147483647"
                 maxConnections="10"
                 maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IDeviceService"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:00:18"
                 transactionFlow="false"
                 transferMode="Buffered"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard"
                 listenBacklog="10"
                 maxBufferPoolSize="524288"
                 maxBufferSize="2147483647"
                 maxConnections="10"
                 maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_ISecurityService"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:01:00"
                 transactionFlow="false"
                 transferMode="Buffered"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard"
                 listenBacklog="10"
                 maxBufferPoolSize="524288"
                 maxBufferSize="65536"
                 maxConnections="10"
                 maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="TimecodeServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="ListServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="DeviceServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="Harris.Automation.ADC.Services.SecurityServiceClientBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="net.tcp://localhost:10080/Harris.Automation.ADC.Services.TimecodeService"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ITimecodeService"
                contract="TimecodeService.ITimecodeService" 
                name="TimecodeService_endpoint"
                behaviorConfiguration="TimecodeServiceBehavior" />
      
      <endpoint address="net.tcp://localhost:10050/Harris.Automation.ADC.Services.ListService"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IListService"
                contract="ListService.IListService"
                name="ListService_endpoint"
                behaviorConfiguration="ListServiceBehavior" />

      <endpoint address="net.tcp://localhost:10030/Harris.Automation.ADC.Services.DeviceService"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IDeviceService"
                contract="DeviceService.IDeviceService"
                name="DeviceService_endpoint"
                behaviorConfiguration="DeviceServiceBehavior" />
      <endpoint address="net.tcp://localhost:10100/Harris.Automation.ADC.Services.SecurityService"
                binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISecurityService"
                contract="SecurityService.ISecurityService"
                name="NetTcpBinding_ISecurityService"
                behaviorConfiguration="Harris.Automation.ADC.Services.SecurityServiceClientBehavior"/>
    </client>
  </system.serviceModel>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <customErrors mode="On"/>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.10.0"
                         newVersion="1.2.11.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <log4net>
    <!-- Output the log into files -->
    <appender name="FileLog" type="log4net.Appender.RollingFileAppender">
      <file value="logs/ProductionTimer.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="5000KB"/>
      <maxSizeRollBackups value="20"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="----- BEGIN LOGGING AT %date{ISO8601} -----%newline%newline" type="log4net.Util.PatternString"/>
        <footer value="----- END LOGGING AT %date{ISO8601} -----%newline%newline%newline" type="log4net.Util.PatternString"/>
        <conversionPattern value="%d{ISO8601} - %5p [%t] - %m%n"/>
      </layout>
      <rollingStyle value="Size"/>
    </appender>

    <!-- Output the trace in IDE -->
    <appender name="TraceLog" type="log4net.Appender.TraceAppender">
      <immediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m%n%n"/>
      </layout>
    </appender>

    <!-- Output the log into Magellan Diagnosting Logging -->
    <appender name="HarrisLog" type="HarrisLog4Net.HarrisLog4NetAppender, HarrisLog4Net, Version=1.2.0.0, Culture=neutral, PublicKeyToken=4f864efe3fff75b3">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m%n"/>
      </layout>
    </appender>

    <!-- Custom renderer for exceptions -->
    <renderer renderingClass="Harris.Automation.Logger.ExceptionRenderer, Harris.Automation.Logger" renderedClass="System.Exception" />

    <root>
      <level value="ALL"/>
    </root>

    <logger name="AutomationLogger">
      <level value="ALL"/>
      <appender-ref ref="FileLog"/>
      <appender-ref ref="TraceLog"/>
      <appender-ref ref="HarrisLog"/>
    </logger>
  </log4net>
  
</configuration>
